*{
  margin:0px;
  padding: 0px;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .f{
      color:white;
    }
    h3{
      color:white;
    }

  .carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:50px;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  #red{
	  background-color:#337ab7;

  }

  #red hr{
  width:300px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  height:5px;
  background-color:#f0f0f0;
  border-radius:20px;
}

  .text-justify{
    color:black;
  }
h5{
  color:white;
  background-color:#6d6e6a;
  height:100px;
  width:100%;
}

#img1{
  width:100%;
  height:190px;
}
#img1:hover{
  box-shadow:7px 7px 5px #ffffff;
 }
.hov a:hover{
  color:#000408;
}

#primary{ 
    background-color:#1abc9c;
    color:black;
}
.forget a{
  text-decoration:none;
  color:#000408;
}
.forget a:hover{
  color:white;
}
.forget{
  padding-top:10px;
}

h1{
  font-family:font-family: 'Lobster', cursive;
  color:#ffffff;
}
#top{
  margin:0px;
}
.thumbnail a img:hover{
box-shadow:5px 5px 5px #000408;
}

#font{
      font-family: 'Abril Fatface', cursive;
      color:red;
      margin-top:50px;
    }
    .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  #bt{
    float:right;
    margin-left:15px;
    border-radius:10px;
    border:none;
  }
  @media screen and (max-width:600px)
      {
        .frame{
          width:100%;
        }
      }
@media screen and (max-width:600px)
      {
        .amit{
          text-align:center;
        }
    }
    .Ac_Room_Text{
      font-family: 'Abril Fatface', cursive;
      color:white;
      text-align:center;
    }
    .Room_Text{
       font-family: 'Abril Fatface', cursive;
      color:white;
      text-align:center;
      size:20px;
    }